    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Корзина", "Cart", "Buy", routeValues: null, htmlAttributes: null)</li>
        <li>@Html.ActionLink("Оформленные заказы", "OnOrder", "Buy")</li>
        <li>@Html.ActionLink("История покупок", "History", "Buy")</li>
    </ul>


