<ul class="nav navbar-nav">
    <li>@Html.ActionLink("По заказам", "OrderStatistic", "Admin")</li>
    <li>@Html.ActionLink("По товарам", "ItemStatistic", "Admin")</li>
    <li>@Html.ActionLink("По поставщикам", "SupplierStatistic", "Admin")</li>
</ul>

