@using Shop.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Популярные товары</h2>
        <ul class="grid_2">
            @foreach (ItemWithInfo i in ViewBag.Items)
            {
                <li>
                    <a href="/Home/Item/@i.Item.id">
                        <div style="width:159px; height:156px;align-content:center;">
                            <img src="/images/@i.Item.image" class="img-responsive" alt="" />
                        </div>
                        @{
                            string price = i.Price.Count() == 0 ?
                                "----" :
                                i.Price.Min(p => p.price).ToString();
                        }

                        <span class="btn5">
                            @price
                            @if (i.Price.Count() != 0)
                            {
                                <text>(
                                    @i.Price.Count()
                                    )</text>
                            }
                        </span>
                        <p>@i.Item.title</p>
                        <p>@i.Item.Category.title</p>
                    </a>
                </li>
                            }
            <div class="clearfix"></div>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>